<div>
    <div class="abouttus">
      <h1 class="title" id="aboutus">about us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ab corrupti molestias nostrum quas sit accusamus numquam, 
        reiciendis omnis neque at minus impedit debitis repellendus cupiditate inventore! Consectetur, dolores aut!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ab corrupti molestias nostrum quas sit accusamus numquam, 
        reiciendis omnis neque at minus impedit debitis repellendus cupiditate inventore! Consectetur, dolores aut!</p>
    </div>
  </div>